.login-class {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-class {
  background-color: #eeecdb;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.toolbar-class {
  background-image: linear-gradient(180deg, #ee4c77 4%, var(--night-blue) 186%)
}

.margin-top {
  margin-top: 20px;
}

.margin-top-lg {
  margin-top: 20px;
}

.margin-bottom-lg {
  margin-bottom: 40px;
}

.size-col-1 {
  text-align: center;
  margin: auto;
  width: 10.75rem;
}

.size-col-2 {
  margin-top: 20px;
  width: 20rem;
}